@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@import url(./equalize.css);

:root {
    --main-width: max(70vw, 500px);
    --bg-dark: rgb(14, 14, 14);
    --bg-mid: rgb(37, 37, 37);
    --bg-light: rgb(62, 62, 62);
    color: rgb(224, 224, 224);
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#nav {
    position: fixed;
    background: transparent;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(83, 77, 62);
    z-index: 999;
    backdrop-filter: blur(15px);
}

#nav * {
    display: flex;
    align-items: center;
}
#nav .nav-content {
    display: flex;
    flex: 1 1 auto;
    max-width: var(--main-width);
}
#nav .nav-list {
    display: flex;
    flex: 1;
    list-style-type: none;
}
#nav .nav-item {
    flex: 1;
    justify-content: flex-end;
    padding: 20px;
    cursor: pointer;
}
#nav .nav-logo {
    flex: 1;
    padding: 15px;
}

#nav img {
    height: 3rem;
    filter: invert(1) hue-rotate(2deg) brightness(80%);
}

#hero {
    min-width: 100vw;
    flex: 1 1 100vh;

    background: linear-gradient(rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 1))
            70%,
        url(../img/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg);
    background-size: cover;
    background-position: right;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
#hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 5vh;
    max-width: 600px;
    text-shadow: 1px 1px 2px black;
}
#hero .hero-main-text {
    text-align: center;
    font-size: 4rem;
    font-family: "Playfair Display", serif;
}
#hero .hero-sub-text {
    text-align: center;
    font-size: 1.1rem;
    padding: 15px;
}
#hero .hero-icon img {
    width: 50px;
    filter: invert(1);
    border: 2px solid black;
    border-radius: 50px;
}

#menu {
    background: var(--bg-dark);
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 1)) 0%,
        url("../img/bitmap.jpg");
    background-size: cover;
    background-position: right;
}
#menu .menu-content {
    padding: 100px 0;
    width: min(var(--main-width), 100vw);
}
#menu .menu-title {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    text-align: center;
}
#menu .menu-sub-text {
    text-align: center;
    font-size: 1.1rem;
    padding: 30px 15px;
}
#menu .menu-food {
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}
#menu .menu-item {
    position: relative;
    max-width: 100%;
    min-width: 300px;
    flex: 1 1 40%;
}
#menu .menu-item .food-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.8));
    padding: 50px 15px;
    filter: opacity(0);

    font-size: 1.5rem;

    text-shadow: 1px 1px 2px black;
}

#menu .menu-item .food-overlay .food-name {
    font-weight: 800;
}
#menu .menu-item .food-overlay:hover {
    filter: opacity(100%);
}
#menu .menu-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}
